/ AddThis Smart Layers BEGIN
/ Go to http://www.addthis.com/get/smart-layers to customize
%script{src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-533ccdfb271c6b15", type: "text/javascript"}
:javascript
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 3
    }   
  });
/ AddThis Smart Layers END
