.container
  .pull-right
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- ok -->
    <ins class="adsbygoogle" data-ad-client="ca-pub-4554336371194565" data-ad-slot="3120439998"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
