%script{async: "", src: "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
  / Unidler
  %ins.adsbygoogle{"data-ad-client" => "ca-pub-4554336371194565", "data-ad-slot" => "3260040792", style: "display:inline-block;width:336px;height:280px"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
